<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="pt-4 card-header">
                        <h3>MANTENEDOR DE CUENTAS BOTS</h3>
                    </div>
                </ng-template>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="txtCorreo" class="col-sm-3 col-form-label">Correo usuario :</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup" style="width: 75%;">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-envelope"></i>
                                    </span>
                                    <input type="text" id="txtCorreo" pInputText [(ngModel)] = "cuenta.correo"> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtPassword" class="col-sm-3 col-form-label">Contraseña :</label>
                            <div class="col-sm-8">
                                <p-password [toggleMask]="true" [feedback]="false" [(ngModel)]="cuenta.password"></p-password>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtTelefono" class="col-sm-3 col-form-label">Teléfono :</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup" style="width: 75%;">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-phone"></i>
                                    </span>
                                    <input type="text" id="txtTelefono" pInputText [(ngModel)] = "cuenta.telefono"> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtIpChip" class="col-sm-3 col-form-label">Ipchip :</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup" style="width: 75%;">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-book"></i>
                                    </span>
                                    <input type="text" id="txtIpChip" pInputText [(ngModel)] = "cuenta.ipChip"> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtModelo" class="col-sm-3 col-form-label">Modelo :</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup" style="width: 75%;">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-clone"></i>
                                    </span>
                                    <input type="text" id="txtModelo" pInputText [(ngModel)] = "cuenta.modelo"> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtFecha" class="col-sm-3 col-form-label">Fecha :</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup" style="width: 75%;">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-calendar"></i>
                                    </span>
                                    <input type="text" id="txtFecha" pInputText [(ngModel)] = "cuenta.fecha"> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtResponsable" class="col-sm-3 col-form-label">Reponsable :</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup" style="width: 75%;">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-user"></i>
                                    </span>
                                    <input type="text" id="txtResponsable" pInputText [(ngModel)] = "cuenta.responsable"> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtEstado" class="col-sm-3 col-form-label">Estado:</label>
                            <div class="col-sm-8">
                                <p-dropdown [options]="estados" [(ngModel)]="selectedEstadoCuenta" optionLabel="nombreEstado" optionValue="nombreEstado" placeholder="Seleccione el estado"></p-dropdown>
                            </div>
                        </div> 

                        <div class="form-group row">
                            <label for="txtOperadora" class="col-sm-3 col-form-label">Operadora :</label>
                            <div class="col-sm-8">
                                <div class="p-inputgroup" style="width: 75%;">
                                    <span class="p-inputgroup-addon">
                                        <i class="pi pi-phone"></i>
                                    </span>
                                    <input type="text" id="txtOperadora" pInputText [(ngModel)] = "cuenta.operadora"> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-8">
                                <button class="mr-sm-2 p-button-warning" pButton type="button" iconPos="left" label="Guardar cuenta" (click)="guardarCuenta()"></button>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="row">
                    <div class="col-12">
                        <form action="/" method="POST" enctype="multipart/form-data" (ngSubmit) = 'cargarDatosCsv()' #forma="ngForm">
                            <div class="form-group row">
                                <label for="txtNombre" class="col-sm-3 col-form-label">Cargar cuentas: </label>
                                <div class="col-sm-8">
                                    <input style="width: 75%;" class="file-input" type="file" id="csvFichero" (change)="onFileSelected($event)" #myInputFile> 
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label for="txtEstado" class="col-sm-3 col-form-label">Bloque:</label>
                                <div class="col-sm-8">
                                    <p-dropdown [options]="bloques" [(ngModel)]="selectedBloque" optionLabel="nombre" optionValue="id" placeholder="Seleccione el bloque" [ngModelOptions]="{standalone: true}" (onChange)="llenarTablaBloque()"></p-dropdown>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <button class="mr-sm-2 p-button-warning" pButton type="submit" iconPos="left" label="Cargar datos"></button>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <h4>Cuentas bots cargadas</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <p-table [value]="cuentas" [paginator]="true" [rows]="5" selectionMode="single" dataKey="id" 
                            (onRowSelect)="onRowSelectCuenta($event)" (onRowUnselect)="onRowUnselectCuenta($event)"
                                [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} cuentas" [rowsPerPageOptions]="[5,10,15]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Id</th>
                                        <th>Usuario</th>
                                        <th>Contraseña</th>
                                        <th>Teléfono</th>
                                        <th>Ipchip</th>
                                        <th>Modelo</th>
                                        <th>Fecha</th>
                                        <th>Responsable</th>
                                        <th>Estado</th>
                                        <th>Operadora</th>
                                        <th>Bloque</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-cuenta>
                                    <tr [pSelectableRow]="cuenta">
                                        <td>{{cuenta.id}}</td>
                                        <td>{{cuenta.correo}}</td>
                                        <td>{{cuenta.password}}</td>
                                        <td>{{cuenta.telefono}}</td>
                                        <td>{{cuenta.ipChip}}</td>
                                        <td>{{cuenta.modelo}}</td>
                                        <td>{{cuenta.fecha}}</td>
                                        <td>{{cuenta.responsable}}</td>
                                        <td>{{cuenta.estado}}</td>
                                        <td>{{cuenta.operadora}}</td>
                                        <td>{{cuenta.bloque}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

            </p-card>
        </div>
    </div>
</div>
<p-toast position="top-center" key="myKey1"></p-toast>