<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="pt-4 ml-4" style="text-align: center;">
                        <h3>MANTENIMIENTO DE CUENTAS BOTS</h3>
                        <hr>
                    </div>
                </ng-template>
                
                <div class="row">
                    <div class="col-12">
                        
                        <div class="form-group row">
                            <label for="txtEstado" class="col-sm-4 col-form-label">Bloque:</label>
                            <div class="col-sm-8">
                                <p-dropdown [options]="bloques" [(ngModel)]="selectedBloque" optionLabel="nombreEstado" optionValue="nombreEstado" placeholder="Seleccione el bloque que se desea dar mantenimiento"></p-dropdown>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Fecha de incio :</label>
                            <div class="col-sm-8">
                                <p-calendar inputId="basic"></p-calendar>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Fecha de incio :</label>
                            <div class="col-sm-8">
                                <p-calendar inputId="basic"></p-calendar>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Descipción del mantenimiento :</label>
                            <div class="col-sm-8">
                                <input style="width: 75%;" type="text" id="txtNombre" pInputText > 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Tiempo de incubación :</label>
                            <div class="col-sm-8">
                                <input style="width: 75%;" type="text" id="txtNombre" pInputText > 
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Responsable del mantenimiento:</label>
                            <div class="col-sm-8">
                                <input style="width: 75%;" type="text" id="txtNombre" pInputText > 
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <button class="mr-sm-2 p-button-warning" pButton type="button" iconPos="left" label="Guardar mantenimiento"></button>
                            </div>
                            <div class="col-sm-4">
                                <button class="mr-sm-2 p-button-danger" pButton type="button" iconPos="left" label="Eliminar mantenimiento"></button>
                            </div>
                        </div>

                    </div>  
                </div>

                <div class="row">
                    <div class="col-12">
                        <h4>Mantenimientos realizados</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <p-table [value]="mantenimientos" [paginator]="true" [rows]="5" selectionMode="single" dataKey="id" 
                            (onRowSelect)="onRowSelectMan($event)" (onRowUnselect)="onRowUnselectMan($event)"
                                [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} mantenimientos" [rowsPerPageOptions]="[5,10,15]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Id</th>
                                        <th>Fecha inicial</th>
                                        <th>Fecha final</th>
                                        <th>Descripción</th>
                                        <th>Tiempo</th>
                                        <th>Responsable</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-mantenimiento>
                                    <tr [pSelectableRow]="mantenimiento">
                                        <td>{{mantenimiento.id}}</td>
                                        <td>{{mantenimiento.fechaInicial}}</td>
                                        <td>{{mantenimiento.fechaFinal}}</td>
                                        <td>{{mantenimiento.descripcion}}</td>
                                        <td>{{mantenimiento.tiempo}}</td>
                                        <td>{{mantenimiento.responsable}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

            </p-card>
        </div>
    </div>
</div>
