<app-menu></app-menu>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'width': '100%','height': '25%'}" [numVisible]="8" [circular]="true"
        [autoPlay]="true" [transitionInterval]="4000" [showThumbnails]="false" [showIndicators]="true" indicatorsPosition="top" [changeItemOnIndicatorHover]="true" [showIndicatorsOnItem]="true"> 
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.previewImageSrc" style="width: 100%; height:650px; display: block;" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.thumbnailImageSrc"/>
                    </div>
                </ng-template>
        </p-galleria>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <h1>Istartdigital</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 style="font-size: 60px;">¡Conecta con tu público objetivo y crece junto a nosotros!</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <h3>NUESTRA AGENCIA</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Somos una agencia digital con más de 7 años en el mercado que brinda servicios comunicacionales, publicitarios y audiovisuales, especializada en el marketing digital, político y deportivo.
                       Nos diferenciamos por consolidar tu presencia online desarrollando planificaciones estratégias basada en el análisis del marketing moderno y las tendencias.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>MISIÓN</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Nuestra misión es apoyar a cada uno de nuestros clientes en el desarrollo y crecimiento de su marca, diseñando planificaciones estratégicas sólidas que le permitan alcanzar sus objetivos.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h3>VISIÓN</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Ser una empresa reconocida por brindar  servicios de marketing y soluciones eficaces en el posicionamiento Digital, Político y Deportivo en todo el Ecuador, con profesionales de alto nivel, manteniendo novedosos y efectivos estándares de calidad en cada uno de nuestros proyectos.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #bdbdb1;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h1 style="font-size: 60px; color: #ffff; margin-top: 75px;">¡Creamos conceptos virales!</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: center;">
                <p-image src="assets/inicio1.png" alt="Image" width="250" [preview]="true"></p-image>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #a52144;">
    <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
        <p-image src="assets/footer.png" alt="Image" width="250" [preview]="true"></p-image>
    </div>
</div>

