<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="pt-4 ml-4" style="text-align: center;">
                        <h3>MANTENEDOR DE USUARIOS</h3>
                        <hr>
                    </div>
                </ng-template>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Nombres :</label>
                            <div class="col-sm-8">
                                <input style="width: 75%;" type="text" id="txtNombre" pInputText > 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Apellidos :</label>
                            <div class="col-sm-8">
                                <input style="width: 75%;" type="text" id="txtNombre" pInputText > 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Correo :</label>
                            <div class="col-sm-8">
                                <input style="width: 75%;" type="email" id="txtNombre" pInputText > 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Teléfono :</label>
                            <div class="col-sm-8">
                                <input style="width: 75%;" type="email" id="txtNombre" pInputText > 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Contraseña :</label>
                            <div class="col-sm-8">
                                <input style="width: 75%;" type="email" id="txtNombre" pInputText > 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtRol" class="col-sm-4 col-form-label">Rol:</label>
                            <div class="col-sm-8">
                                <p-dropdown [options]="roles" [(ngModel)]="selectedRol" optionLabel="nombre" optionValue="nombre" placeholder="Seleccione el rol"></p-dropdown>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="txtEstado" class="col-sm-4 col-form-label">Estado:</label>
                            <div class="col-sm-8">
                                <p-dropdown [options]="estados" [(ngModel)]="selectedEstadoUsuario" optionLabel="nombreEstado" optionValue="nombreEstado" placeholder="Seleccione el estado"></p-dropdown>
                            </div>
                        </div>  

                        <div class="form-group row">
                            <div class="col-sm-8">
                                <button class="mr-sm-2 p-button-warning" pButton type="button" iconPos="left" label="Guardar usuario"></button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <h4>Lista de usuarios</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <p-table [value]="usuarios" [paginator]="true" [rows]="5" selectionMode="single" dataKey="id" 
                            (onRowSelect)="onRowSelectUser($event)" (onRowUnselect)="onRowUnselectUser($event)"
                                [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuario" [rowsPerPageOptions]="[5,10,15]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Correo</th>
                                        <th>Teléfono</th>
                                        <th>Contraseña</th>
                                        <th>Estado</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-usuario>
                                    <tr [pSelectableRow]="usuario">
                                        <td>{{usuario.id}}</td>
                                        <td>{{usuario.nombres}}</td>
                                        <td>{{usuario.apellidos}}</td>
                                        <td>{{usuario.correo}}</td>
                                        <td>{{usuario.contacto}}</td>
                                        <td>{{usuario.password}}</td>
                                        <td>{{usuario.estado}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

            </p-card>
        </div>
    </div>
</div>
