<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p-card>
                <ng-template pTemplate="header">
                    <div class="pt-4 ml-4" style="text-align: center;">
                        <h3>MANTENEDOR DE BLOQUES</h3>
                        <hr>
                    </div>
                </ng-template>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group row">
                            <label for="txtNombre" class="col-sm-4 col-form-label">Nombre del bloque :</label>
                            <div class="col-sm-8">
                                <input style="width: 75%;" type="text" id="txtNombre" pInputText placeholder="BLOQUE_1"> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="txtRol" class="col-sm-4 col-form-label">Estado del bloque:</label>
                            <div class="col-sm-8">
                                <p-dropdown [options]="estados" [(ngModel)]="selectedEstado" optionLabel="nombreEstado" optionValue="nombre" placeholder="Seleccione el estado"></p-dropdown>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8">
                                <button class="mr-sm-2 p-button-warning" pButton type="button" iconPos="left" label="Guardar bloque"></button>
                            </div>
                        </div>
                    </div>
                </div>     
                
                <div class="row">
                    <div class="col-12">
                        <h4>Lista de bloques</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <p-table [value]="bloques" [paginator]="true" [rows]="5" selectionMode="single" dataKey="id" 
                            (onRowSelect)="onRowSelectBloque($event)" (onRowUnselect)="onRowUnselectBloque($event)"
                                [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} bloques" [rowsPerPageOptions]="[5,10,15]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Id</th>
                                        <th>Bloque</th>
                                        <th>Estado</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-bloque>
                                    <tr [pSelectableRow]="bloque">
                                        <td>{{bloque.id}}</td>
                                        <td>{{bloque.nombre}}</td>
                                        <td>{{bloque.estado}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>

            </p-card>
        </div>
    </div>
</div>
